<div id="<%= dom_id post %>">
  <div class="card bg-dark text-light p-3">
    <div class="card-body">
      <h5 class="card-title fs-2"><%= post.title %></h5>
      <p class="card-text text fs-5"><%= post.content %></p>
      <%= link_to "Show more", post, class:'btn btn-primary' %>
    </div>
  </div>
</div>