
<div class="text-end">
<%= link_to "New post", new_post_path, class:'btn btn-primary' %>
</div>
<div id="posts" class="mt-4">

<% if @posts.empty? %>
  <%= render 'empty/nopost' %>
<% else %>
<%= turbo_stream_from :posts %>
  <%= render @posts %>
<% end %>
</div>

